<mat-toolbar color="primary">

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">

        <div class="d-flex align-items-center justify-content-between">

          <div class="d-flex align-items-center">
            <button mat-icon-button (click)="onToggleSidenav()">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="m-0 p-0">Ofertas Alucinantes!</span>
          </div>

          <ul class="d-flex">
            <li *ngIf="!isLogged">
                <button mat-button routerLink="/login">Login</button>
            </li>
            <li *ngIf="isLogged">
                <button mat-button routerLink="/nueva-oferta">Nueva oferta</button>
            </li>
            <li>
                <button mat-button routerLink="/usuarios">Usuarios</button>
            </li>
            <li>
                <button mat-button routerLink="/ofertas">Ofertas</button>
            </li>
            <li *ngIf="isLogged">
                <button mat-button (click)="onLogout()">Logout</button>
            </li>
            <li *ngIf="!isLogged">
                <button mat-stroked-button color="primary" class="btn-sign-up" routerLink="/register">Sign Up</button>
            </li>
          </ul>

        </div>

      </div>
    </div>

  </div>

</mat-toolbar>
