<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
          <div class="card my-5 p-4">
            <div class="card-body text-align-center">

              <img src="https://image.flaticon.com/icons/svg/1443/1443136.svg" class="notFound" />
              <h2 class="my-3">Ups!</h2>
              <h6>Parece que no hay nada por aquí...</h6>

              <p>Pero puedes mirar <strong><a [routerLink]="[('/ofertas')]">ofertas</a></strong> o los <strong><a [routerLink]="[('/usuarios')]">usuarios</a></strong> registrados.</p>
            </div>
          </div>
      </div>
    </div>
  </div>
