/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* @import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../node_modules/bootstrap/scss/utilities/flex";
@import "../node_modules/bootstrap/scss/utilities/display";
@import "../node_modules/bootstrap/scss/utilities/sizing";
@import "../node_modules/bootstrap/scss/utilities/spacing";
@import "../node_modules/bootstrap/scss/utilities/text";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/type";
 */

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/material-colors/dist/colors.scss";

button:focus {
  outline: none;
}

.card {
  //box-shadow: 0 0 5px $md-grey-200;
  border: 1px solid $md-grey-300;
  .card-header {
    a {
      line-height: 1em
    }
  }
}

.bg-app {
  background: $md-grey-50;
}

.mat-paginator {
  background: none;
}

.mat-toolbar {
  /* background: $md-blue-grey-800;
  color: #fff; */
}

.mat-icon-mini {
  color: $md-grey-500;
  transform: scale(0.8);
}

footer {
  background: $md-blue-grey-800;
  padding: 5em;
  text-align: center;
  color: #fff;
  p {
    font-size: 0.85em;
  }
}

.btn-sign-up {
  color: #fff !important;
  border: 1px solid #fff !important;
}
